python-dotenv

# framework
langchain
langchain-core
langchain-community

# LLM provider
langchain-groq
langchain-text-splitters

# vector store
faiss-cpu

# notebook
jupyter
ipykernel

# web app
streamlit
